model/src/main/resources/pacify.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2008 (http://www.altova.com) von Bundesagentur fuer Arbeit (Bundesagentur fuer Arbeit) bearbeitet -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="pacify">
        <xs:annotation>
            <xs:documentation>Comment describing your root element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element ref="property"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="property">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element ref="file"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="file">
        <xs:complexType>
            <xs:attribute name="path" type="xs:string" use="required"/>
            <xs:attribute name="encoding" type="xs:string" default="UTF-8"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
